.input-container {
   position: relative;
   display: flex;
   flex-flow: column nowrap;
   width: 100%;
}

/* Bottom margin for all expect last instance */
.input-container:not(:last-of-type) {
   margin-bottom: var(--m-large);
}