/* Header */
.form-header {
   overflow: auto;
   margin-bottom: 40px;
}

/* Steps wrapper */
.form-header > .steps {
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   font-weight: 500;
   margin: 16px 0;
}

/* Step */
.form-header > .steps > .step {
   display: block;
   font-size: 16px;
   font-size: 1rem;
   color: var(--c-gray-light-02);
   text-align: center;
   transition: color 200ms ease;
}

.form-header > .steps > .step.active {
   color: var(--c-green);
   transition: color 200ms ease;
}

/* Active Indicator */
.form-header > .steps > .step::after {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   margin-top: var(--m-medium);
   border-radius: 1px;
   background: var(--c-gray-light-01);
}

.form-header > .steps > .step.active::after {
   background: var(--c-green);
   transition: background 200ms ease;
}