.checkmark {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   width: 75px;
   margin: var(--m-large) auto;
}

/* Bubble */
.checkmark > span {
   position: relative;
   display: block;
   width: 75px;
   height: 75px;
   border-radius: 50%;
   background: var(--c-green);
}

/* Check icon */
.checkmark > span > svg {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
}

/* Shadow */
.checkmark > svg {
   width: 40px;
   height: 40px;
   fill: var(--c-gray-light-01);
}