/* Default */
button {
   display: block;
   border-width: 2px;
   border-style: solid;
   border-radius: 3px;
   font-weight: 600;
   padding: 10px 40px;
   margin-top: var(--m-extra-large);
   transition: all 120ms ease-in;
   background: var(--c-green);
   border-color: var(--c-green);
   color: #FFF;
}

/* Left aligned */
button.left {
   float: left;
   clear: both;
}

/* Center aligned */
button.center {
   margin-left: auto;
   margin-right: auto;
}

/* Right aligned */
button.right {
   float: right;
   clear: both;
}

/* Focus */
button:focus {
   outline: none;
   border: 2px solid var(--c-blue);
   box-shadow: inset 0 0 0 1px #FFF;
}

/* Hover & Active */
button:hover:not(:active),
button:active {
   cursor: pointer;
   transform: translateY(2px);
   transition: all 120ms ease-in-out;
}