.helper {
   padding: 16px 24px;
   border-radius: 0 0 4px 4px;
   border-width: 1px;
   border-style: solid;

   background: var(--c-blue-light-01);
   border-color: var(--c-blue-light-02);
}

.helper.error {
   background: var(--c-red-light-01);
   border-color: var(--c-red-light-02);
}

.helper.valid {
   opacity: 0;
   transition: opacity 0 ease 1s;
}


.help-row {
   display: flex;
   transform: scale(0.7);
   transition: all 300ms
}

.help-row.valid {
   transform: scale(1);
   transition: all 300ms;
}