/* Barlow (regular, medium, semibold)  */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

body, input, button {
   font-family: 'Barlow', 'system-ui', sans-serif;
   font-size: 14px;
   font-size: 0.875rem;
}

.app {
   width: 100%;
   max-width: 400px;
   margin: auto;
}

.app > form {
   overflow: visible;
}